/*自定义模块样式*/
@charset "utf-8";
/* CSS Document */

/*初始化*/
body{behavior:url("csshover.htc");}
body{font-family:MicrosoftYaHei, Helvetica, sans-serif;font-size:12px;margin:0; padding:0; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,span,a{padding:0; margin:0;}
img{border:0px;}
ul,li{list-style-type:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}



/*左侧栏*/
.tithig1{ height:34px; line-height:34px; text-indent:27px; width:100%; border-bottom:1px dashed #e5cacc;}
.tithig1 a{ color:#585858; display:block; width:100%; height:32px; line-height:32px; margin-top:3px;}
.tithig1 .cur{ font-weight:bold;}
/*自定义模块样式*/
/*sitemap*/
.sitemap .site_list{ margin:0px 0px 20px 10px;}
.sitemap .site_list .title{ color:#0062B9; font-size:16px; font-weight:bold; margin:5px 0px;}
.sitemap .site_list .desc{ padding:0px 0px 0px 12px;}
.sitemap .site_list .desc a{ margin-right:10px; margin-left:3px;}
.sitemap .site_list .desc img{}
.sitemap .site_list .desc li{ margin:3px 0px;}
.sitemap .site_list .desc .ins{ width:140px; margin:3px 0px; float:left; }

.f_l{ float:left}

.header{}
/*垂直居中特别鸣谢肛教授*/
.PicPath{ text-align:center; display:block;}
.PicPath span{ display:inline-block; height:100%; vertical-align:middle;}
.PicPath img{ vertical-align:middle;}
/*垂直居中*/

/*长度*/
.w0{width:100%;}
.w29{width:29px;}
.w65{width:65px;}
.w80{width:80px;}
.w85{width:85px;}
.w90{width:90px;}
.w111{width:111px;}
.w118{width:118px;}
.w132{width:132px;}
.w135{width:135px;}
.w140{width:140px;}
.w152{width:152px;}
.w164{width:164px;}
.w173{width:173px;}
.w183{width:183px;}
.w185{width:185px;}
.w187{width:187px;}
.w195{width:195px;}
.w205{width:205px;}
.w210{width:210px;}
.w213{width:213px;}
.w221{width:221px;}
.w222{width:222px;}
.w226{width:226px;}
.w230{width:230px;}
.w232{width:232px;}
.w235{width:235px;}
.w236{width:236px;}
.w233{width:233px;}
.w235{width:235px;}
.w242{width:242px;}
.w252{width:252px;}
.w216{width:216px;}
.w222{width:222px;}
.w288{width:288px;}
.w295{width:295px;}
.w310{width:310xp;}
.w311{width:311px;}
.w319{width:319px;}
.w324{width:324px;}
.w332{width:332px;}
.w333{width:333px;}
.w377{width:377px;}
.w339{width:339px;}
.w368{width:368px;}
.w390{width:390px;}
.w459{width:459px;}
.w465{width:465px;}
.w597{width:597px;}
.w601{width:601px;}
.w627{width:627px;}
.w708{width:708px;}
.w930{width:930px;}
.w940{width:940px;}
.w953{width:953px;}
.w1000{width:1000px;}



/*高度*/
.h20{height:20px;}
.h21{height:21px;}
.h24{height:24px;}
.h23{height:23px;}
.h27{height:27px;}
.h28{height:28px;}
.h29{height:29px;}
.h30{height:30px;}
.h32{height:32px;}
.h34{height:34px;}
.h36{height:36px;}
.h40{height:40px;}
.h43{height:43px;}
.h45{height:45px;}
.h47{height:47px;}
.h54{height:54px;}
.h57{height:57px;}
.h68{height:68px;}
.h69{height:69px;}
.h71{height:71px;}
.h106{height:106px;}
.h111{height:111px;}
.h120{height:120px;}
.h165{height:165px;}
.h197{height:197px;}
.h214{height:214px;}
.h200{height:200px;}
.h201{height:201px;}
.h231{height:231px;}
.h240{height:240px;}
.h255{height:255px;}
.h266{height:266px;}
.h269{height:269px;}
.h278{height:278px;}
.h279{height:279px;}
.h280{height:280px;}
.h286{height:286px;}
.h294{height:294px;}
.h300{height:300px;}
.h303{height:303px;}
.h310{height:310px;}
.h358{height:358px;}
.h382{height:382px;}
.h435{height:435px;}
.h540{height:540px;}


.T168{top:-168px;}

/*外边距*/
.margin0{margin:0 auto;}

.mT4{margin-top:4px;}
.mT13{margin-top:13px;}
.mT14{margin-top:14px;}
.mT15{margin-top:15px;}
.mT16{margin-top:16px;}
.mT18{margin-top:18px;}
.mT20{margin-top:20px;}
.mT22{margin-top:22px;}
.mT24{margin-top:24px;}
.mL25{margin-left:25px;}
.mT27{margin-top:27px;}
.mT35{margin-top:35px;}

.mL4{margin-lefT:4px;}
.mL6{margin-left:6px;}
.mL12{margin-left:12px;}
.mL13{margin-left:13px;}
.mL16{margin-left:16px;}
.mL24{margin-left:24px;}
.mL35{margin-left:35px;}

.mL{margin-left:5px;}
.mL10{margin-left:10px;}
.mL13{margin-left:13px;}
.mL18{margin-left:18px;}
.mL20{margin-left:20px;}
.mL22{margin-left:22px;}
.mL29{margin-left:29px;}
.mL30{margin-left:30px;}
.mL23{margin-left:23px;}
.mL32{margin-left:32px;}


.mB4{margin-bottom:4px;}
.mB10{margin-bottom:10px;}
.mB14{margin-bottom:14px;}
.mB15{margin-bottom:15px;}
.mB16{margin-bottom:16px;}
.mB20{margin-bottom:20px;}
.mB22{margin-bottom:22px;}

.mR3{margin-right:3px;}
.mR5{margin-right:5px;}
.mR7{margin-right:7px;}
.mR15{margin-right:15px;}
.mR30{margin-right:30px;}
.mR33{margin-right:33px;}
.mR65{margin-right:65px;}

.pT4{padding-top:4px;}
.pT7{padding-top:7px;}
.pT10{padding-top:10px;}
.pT12{padding-top:12px;}
.pT13{padding-top:13px;}
.pT14{padding-top:14px;}
.pT16{padding-top:16px;}
.pT19{padding-top:19px;}
.pT20{padding-top:20px;}
.pT24{padding-top:24px;}
.pT24{padding-top:24px;}
.pT36{padding-top:36px;}
.pT50{padding-top:50px;}

.pL10{padding-left:10px;}
.pL13{padding-left:13px;}
.pL14{padding-left:14px;}
.pL16{padding-left:16px;}
.pL20{padding-left:20px;}
.pL21{padding-left:21px;}
.pL28{padding-left:28px;}
.pL35{padding-left:35px;}
.pL47{padding-left:47px;}
.pL36{padding-left:36px;}
.pL57{padding-left:57px;}

.pR10{padding-right:10px;}
.pR13{padding-right:13px;}
.pR16{padding-right:16px;}
.pR20{padding-right:20px;}
.pR22{padding-right:22px;}
.pR38{padding-right:38px;}
.pR57{padding-right:57px;}
.pR60{padding-right:60px;}

.pB7{padding-bottom:7px;}
.pB10{padding-bottom:10px;}
.pB15{padding-bottom:15px;}
.pB16{padding-bottom:16px;}
.pB20{padding-bottom:20px;}
.pB22{padding-bottom:22px;}
.pB32{padding-bottom:32px;}
.pB50{padding-bottom:50px;}

/*内边距*/


/*背景*/
.header_bg{background:url(../images/topbg.jpg) repeat-x 0 -4px; position:relative; z-index:1212121212;}
.content_bg{background:#F5F5F5;}
.tj_bg{background:url(../images/tuijianbg.jpg) center center no-repeat;}
.content_bg2{background:url(../images/contentbg2.jpg) center center repeat-x;}
.xg_bg{background:url(../images/xiangguan.jpg) center center no-repeat;}
.footer_bg{background:url(../images/footerbg.jpg) center center repeat-x;}
.ca_bg{background:url(../images/categoprysub.jpg) center center no-repeat;cursor:pointer;}
.ar_bg{background:url(../images/arbg2.jpg) top center repeat-y;}
.faq_bg{background:url(../images/faqsub.jpg) right center no-repeat;cursor:pointer;}
.info_bg{background:url(../images/FAQLI.jpg) left center no-repeat;}
.pro_de_bg{background:url(../images/prodetailpicbg.jpg) left center repeat-x;}
.pro_de_bg1{background:#F2F2F2;}
.pro_de_bg2{background:#FFF;}
.de_ser_bg{background:url(../images/detailsearch.jpg) center center no-repeat;}
.delv_bg{background:url(../images/denglvbg.jpg) top center no-repeat;}
.zh_bg{background:url(../images/qiye.jpg) center center no-repeat;}
.ma_bg{background:url(../images/qiyemima.jpg) center center no-repeat;}
.mm_bg{background:url(../images/mima.jpg) center center no-repeat;}
.oruser_bg{background:url(../images/ordeuser.jpg) center center no-repeat;}
.orma_bg{background:url(../images/ordemima.jpg) center center no-repeat;}
.ormm_bg{background:url(../images/yanzhnegmima.jpg) center center no-repeat;}
.type_bg{background:url(../images/catete_bg.jpg) left center no-repeat;}
.type_bg2{background:#fff;}
.input_bg{background:#E8E8E8;border:0;}




/*字体*/
.db{display:block;}
.dn{display:none;}
.fa_7{font-size:7px;font-family:Arial, Helvetica, sans-serif;}
.fw_16{font-size:16px;font-family: "微软雅黑";}
.fw_14{font-size:14px;font-family: "微软雅黑";}
.fw_12{font-size:12px;font-family: "微软雅黑";}



/*字体颜色*/
.white{color:#fff;}
.gray{color:#4C4C4C;}
.blue1{color:#00316A;}
.black{color:#000;}
.blue2{color:#18678E;}

/*居中*/
.tl{text-align:left;}
.tc{text-align:center;}
.lh_20{line-height:20px;}
.lh_21{line-height:21px;}
.lh_24{line-height:24px;}
.lh_23{line-height:23px;}
.lh_27{line-height:27px;}
.lh_28{line-height:28px;}
.lh_29{line-height:29px;}
.lh_30{line-height:30px;}
.lh_32{line-height:32px;}
.lh_34{line-height:34px;}
.lh_36{line-height:36px;}
.lh_38{line-height:38px;}
.lh_40{line-height:40px;}
.lh_47{line-height:47px;}

.bB1{border-bottom:1px solid #BFBFBF;}
.bR1{border-right:1px solid #BFBFBF;}
.bL1{border-left:1px solid #BFBFBF;}
.bT1{border-top:1px solid #BFBFBF;}
.border{border:1px solid #BFBFBF;}
/*border*/
.cp{cursor:pointer;}

/*header*/
.hd_ab{height:20px;color:#525252;} 
.hd_ab li{float:left;list-style-type: square;height:20px;padding-right:19px;color:#525252;line-height:29px;}
.hd_ab li a{color:#525252;font-family: "微软雅黑";margin-right:17px;}

.search_input{position:absolute;top: 14px; right: 44px;display:none;}


/*nav*/
.nav li{float:left;width:103px;height:54px;background:url(../images/navabd.jpg) right center no-repeat;position:relative;}
.nav li .ca{display:block;height:54px;line-height:54px;width:100px;background:url(../images/nava.jpg) center center repeat-x;color:#333;font-size:16px;font-family: "微软雅黑";text-align:center;}
.nav li .ca:hover{background:url(../images/navah.jpg) center center repeat-x;color:#31A6E1;}
.ca2{width:192px;position:absolute;z-index:10000;display:none;}
.ca2_a{display:block;width:149px;height:30px;line-height:30px;color:#fff;padding-left:43px;font-size:12px;font-family: "微软雅黑";background:url(../images/ca2bg.png) center center no-repeat;}


/*banner*/
.bitem{width:100%;height:435px;position:absolute;z-index:1;}
.banner_bg{width:100%;height:42px;background:url(../images/dianbg.png) center center repeat-x;position:absolute;bottom:0px;z-index:2;}
.dian{width:1000px;height:42px;margin:0 auto;}
.item{width:200px;height:42px;text-align:center;line-height:42px;float:left;font-size:16px;font-family: "微软雅黑";color:#fff;cursor:pointer;}
.item_bg{background:url(../images/item.png) right center no-repeat;}
.item.cur1{background:url(../images/cur.png) center center no-repeat;}
.item.cur1 a{color:#fff;} 

/*On-site search*/
.on_search{background:url(../images/On-sitesearch.jpg) top center no-repeat;}
.ser_sub{top:0px;right:0px;}
.type_xs{position:absolute;width:118px;padding-left:14px;background:#fff;right:0px;z-index:100;top:30px;display:none;}



/*产品分类的显示*/
.ct_ca{width:153px;height:69px;background:url(../images/mukuaibg.jpg) right center no-repeat;line-height:90px;font-size:16px;font-family: "微软雅黑";cursor:pointer;color:#4C4C4C;}
.ct_cur{color:#0D7BBE;}
.xianshi{display:none;width:1000px;height:286px;position:relative;}
.xianshi.ct_xs{display:block;}
.in_prev{width:24px;height:286px;position:absolute;left:0;}
.in_next{width:24px;height:286px;position:absolute;right:0;}
.pic_td1{width:235px;height:175px;}
.div2{width:1000px;height:320px;position:absolute;}
.pic_div{z-index:1000;background:#fff;position:absolute;top:10px;display:none;}
.none{display:none;}




/*北斗方案*/
.ins_title{width:1000px; height:25px;background:url(../images/insborder.jpg) center left repeat-x;position:relative;}
.ins_a{display:block;width:311px;height:58px;background:url(../images/instancesubbg.jpg) center center no-repeat;line-height:50px;}


/*footer*/
.copy{color:#A8A8A8;font-size:12px;line-height:45px;text-indent:32px;font-family: "微软雅黑";}
.ft_a{display:block;color:#C6C6C6;line-height:24px;font-size:12px;font-family: "微软雅黑";}
.ft_a1{display:inline-table;color:#C6C6C6;line-height:24px;font-size:12px;font-family: "微软雅黑";width:135px;height:24px;}
.blue{color:#18678E;}


/*产品；列表*/
.pt_li{margin-right:18px;}

/*文章页*/
.ar_ca{width:195px;height:30px;line-height:30px;padding-left:35px;display:block;}
.ar_cabg{background:url(../images/artisub.jpg) center center no-repeat;}
.ar_ca:hover{background:url(../images/article_category.jpg) center center no-repeat;color:#fff;}
.aid{background:url(../images/article_category.jpg) center center no-repeat;color:#fff;}
.ar_content{line-height:28px;font-size:12px;font-family: "微软雅黑";}


/*FAQ*/
.sea{display:none;}
.sr{cursor:pointer;width:85px;height:21px;text-align:left;font-size:12px;font-family: "微软雅黑";background:#fff;}

/*产品详细*/
.pre{left:0;}
.next{right:0;}
.xiaotu{height:71px;position:absolute;}
.xiaotu li{float:left;width:96px;height:71px;margin-right:15px;}
.introduction{height:24px;width:698px;border-bottom:1px solid #C7CED7;}
.introduction li{float:left;width:110px;height:24px;background:url(../images/detailli.jpg) center center no-repeat;line-height:24px;font-size:12px;font-family: "微软雅黑";color:#333;}
.introduction li.det_cur{font-weight:bold;}
.det_ins{display:none;font-size:12px;font-family: "微软雅黑";line-height:28px;color:#4E4E4E;}
.det_bl{display:block;}

/*最新公告*/
.news a{color:#656565;}
.news a:hover{color:#656565;}
.news:hover{background:#F4F4F4;}

/*user*/
.user{padding-left:10px;height:36px;line-height:36px;color:#989898;}
.user .ordinary{float:left;width:86px;height:36px;background:url(../images/denglva.jpg) center center no-repeat;text-align:center;font-size:12px;font-family: "微软雅黑";}
.user .ordinary.ordinary_hover{background:url(../images/denglvahover.jpg) center center no-repeat;color:#545454;font-size:12px;font-family: "微软雅黑";}
.input_cl{width:154px;margin-left:77px;height:26px;line-height:26px;border:0px;font-size:12px;font-family: "微软雅黑";margin-top:1px;}
.input1_cl{width:154px;margin-left:53px;height:26px;line-height:26px;border:0px;font-size:12px;font-family: "微软雅黑";margin-top:1px;}
.enterprise{display:none;}
.user_xs{display:block;}



/*x下载*/
.dow_sub{top:0px;right:10px;}
.dow_a{display:block;height:30px;padding-left:32px;background:url(../images/downloadli.jpg) left center no-repeat;line-height:30px;font-size:12px;font-family: "微软雅黑";}
.news_li{background:#F4F4F4;}



#show_pro{width:1000px;height:294px;margin-top:27px;}
#index_pro_list_scroll .Cont{width:1000px;height:294px; overflow:hidden; display:block;}
#index_pro_list_scroll .ScrCont{width:10000000px; display:block;}
.l img, .r img{ position:absolute; top:50%;}
.r img{right:0px;}
#index_pro_list_scroll #scroll_list_1, #index_pro_list_scroll #scroll_list_2{float:left; display:block;}