<!--<?php 
include($site_root_path.'/inc/fun/verification_code.php');
?>-->
<div class="fl w310">
    <img src="images/denglv.jpg"/>
    <div class="w310 h303 delv_bg">
        <div class="pT12 w310 h36">
            <ul class="user">
                <li class="ordinary cp" son="0">普通用户</li>
                <li class="ordinary ordinary_hover cp" son="1">企业用户</li>
            </ul>
        </div>
        <?php //普通用户 ?>
        <div class="pT36 pL36 pR38 w236 h201 enterprise" id="user">
        	<form class="form-horizontal" action="http://www.bdgalaxy.com/user_j_spring_security_check" method="post">
                <div class="w210 h29 mB10 oruser_bg" >
                    <input id="username" class="input-medium input1_cl" type="text" autocomplete="off" value="" name="j_username">
                </div>
                <div class="w210 h29 mB10 orma_bg" >
                    <input id="password" class="input-medium input1_cl" type="password" value="" name="j_password">
                </div>
                <div class="w210 h29 mB10 ormm_bg" >
                    <input id="captcha" class="input-medium input1_cl" type="text" autocomplete="off" maxlength="4" value="" name="j_captcha">
                </div>
                <div class="w236 h29 mB10" >
                	<img id="imageU" src="http://www.bdgalaxy.com/image.do">
					<a  href="javascript:;">看不清楚换一张</a>
					<input id="captchatype" type="hidden" value="userlogin" name="captchatype">  
                </div>
                <div class="w236 h29 mB10" >
                    <input class="fl mR3" type="image" onclick="window.location.href='http://www.bdgalaxy.com/userregister.do'" src="images/zhuce.jpg" />
                    <input class="fl mR3" style="" type="image" onclick="window.location.href='http://www.bdgalaxy.com/regetpwd.do?type=regetpwd'"  name="forget" src="images/wangjimima.jpg" />
                    <input class="fl" type="image" src="images/putongdenglv.jpg" />
                </div>
            </form>
        </div>
        
        
        <?php //企业 ?>
        <div class="pT36 pL36 pR38 w236 h201 enterprise user_xs" id="ent">
        	<form class="form-horizontal" method="post" action="http://www.bdgalaxy.com/ent_j_spring_security_check">
            <div class="w236 h29 mB10 zh_bg" >
                <input id="ent_user" class="input-medium input_cl" type="text" autocomplete="off" value="" name="j_username">
            </div>
            <div class="w236 h29 mB10 ma_bg" >
                <input id="ent_pass" class="input-medium input_cl" type="password" value="" name="j_password">
            </div>
            <div class="w236 h29 mB10 mm_bg" >
                <input id="ent_captcha" class="input-medium input_cl" type="text" autocomplete="off" maxlength="4" value="" name="j_captcha">
            </div>
            <div class="w236 h29 mB10" >
            	<img id="imageE" src="http://www.bdgalaxy.com/image.do"></span>
				<a href="javascript:;" id="flashImageE">看不清楚换一张</a>
				<input name="captchatype" id="captchatype" value="entlogin" type="hidden">
            </div>
            <div class="w236 h29 mB10" >
                <input class="fl mR3" type="image" onclick="window.location.href='http://www.bdgalaxy.com/entregister.do'"  name="register" src="images/zhuce.jpg" />
                <input class="fl mR3" style="" type="image"  onclick="window.location.href='http://www.bdgalaxy.com/regetpwd.do?type=regetpwd'"  name="forget" src="images/wangjimima.jpg" />
                <input class="fl" type="image" src="images/landing.jpg" />
            </div>
            </form>
        </div>
        
    </div>
</div>
<script>

eval(function(p,a,c,k,e,r){e=function(c){return(c<62?'':e(parseInt(c/62)))+((c=c%62)>35?String.fromCharCode(c+29):c.toString(36))};if('0'.replace(0,e)==0){while(c--)r[e(c)]=k[c];k=[function(e){return r[e]||e}];e=function(){return'([2-57-9b-df-hj-zA-Z]|1\\w)'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('4 f={};4 z={};$(document).ready(5(){W();$(\'#X\').on({mouseover:5(){$(H).addClass(\'Y\')},mouseout:5(){$(H).removeClass(\'Y\')},h:5(e){location.Z=A+\'/message.B?j=\'+H.j;b c}},\'I>J\');$(\'#r\').h(5(){4 r=10($(\'#k\').8())-1;9(r<=0){b c}f["k"]=r;$.K({C:\'L\',M:A+\'/N.B\',7:$.O(f),P:\'Q\',R:5(7){$(\'#k\').8(r);D(7)}});b c});$(\'#s\').h(5(){4 l=z.l;4 s=10($(\'#k\').8())+1;9(l<=1||s>l){b c}f["k"]=s;$.K({C:\'L\',M:A+\'/N.B\',7:$.O(f),P:\'Q\',R:5(7){$(\'#k\').8(s);D(7)}});b c});$(\'#11\').h(5(){4 $d=$(\'#user_loginError\');4 $t=$.m($(\'#t\').n());4 $u=$.m($(\'#u\').n());4 $v=$.m($(\'#v\').n());$d.S(\'T\',\'U\').8(\'\');9($t==\'\'){$d.o(\'p\').8(\'请输入用户\');$(\'#t\').q();b c}9($u==\'\'){$d.o(\'p\').8("请输入密码");$(\'#u\').q();b c}9($v==\'\'){$d.o(\'p\').8(\'请输入验证码\');$(\'#v\').q();b c}$(\'#userForm\').12()});$(\'#t,#u,#v\').14(5(E){9(E.15==13){$(\'#11\').16(\'h\')}});$(\'#17\').h(5(){4 $d=$(\'#ent_loginError\');4 $w=$.m($(\'#w\').n());4 $x=$.m($(\'#x\').n());4 $y=$.m($(\'#y\').n());$d.S(\'T\',\'U\').8(\'\');9($w==\'\'){$d.o(\'p\').8(\'请输入企业邮箱\');$(\'#w\').q();b c}9($x==\'\'){$d.o(\'p\').8(\'请输入企业密码\');$(\'#x\').q();b c}9($y==\'\'){$d.o(\'p\').8(\'请输入验证码\');$(\'#y\').q();b c}$(\'#entFrom\').12()});$(\'#w,#x,#y\').14(5(E){9(E.15==13){$(\'#17\').16(\'h\')}})});5 W(){f["C"]=1;f["k"]=1;f["pageSize"]=6;$.K({C:\'L\',M:A+\'/N.B\',7:$.O(f),P:\'Q\',R:5(7){D(7)}})}5 D(7){z=7;9(!7||!7.18){b}4 g=7.18;4 2=[];9(g.19<=0){2.3(\'<1a j="1b" F="1b">\');2.3(\'抱歉，暂无最新公告。\');2.3(\'</1a>\')}2.3(\'<I F="dcon-head">\');for(4 i=0;i<g.19;i++){2.3(\'<J j="\');2.3(g[i].j);2.3(\'">\');2.3(\'<G F="p01">\');2.3(\'<a Z="javascript:;" \');2.3(\' j="\');2.3(g[i].j);2.3(\'" V="\');2.3(g[i].V);2.3(\'">\');2.3(\'<1c>\');2.3(g[i].V);2.3(\'</1c>\');2.3(\'</a>\');2.3(\'</G>\');2.3(\'<G F="p02">\');2.3(g[i].fmtCreatedtime);2.3(\'</G>\');2.3(\'</J>\')}2.3(\'</I>\');$(\'#X\').8(2.join(""));4 l=z.l;9(l<=1){$(\'.quotes\').S(\'T\',\'U\')}}',[],75,'||newMsg|push|var|function||data|html|if||return|false|error||lastParams|list|click||id|page|maxPage|trim|val|fadeIn|slow|focus|prev|next|username|password|captcha|ent_user|ent_pass|ent_captcha|object|baseURL|do|type|showMessage|event|class|span|this|ul|li|ajax|post|url|indexMessage|param|dataType|json|success|css|display|none|title|initMessageData|columns|lhover|href|parseInt|userLogin|submit||keydown|keyCode|triggerHandler|entLogin|rows|length|div|load|nobr'.split('|'),0,{}))


$.fn.smartFloat = function() {
var position = function(element) {
var top = element.position().top,
pos = element.css("position");
$(window).scroll(function() {
var scrolls = $(this).scrollTop();
if (scrolls > top) {
if (window.XMLHttpRequest) {
element.css({
position: "fixed",
top: 0
});
} else {
element.css({
top: scrolls
});
}
} else {
element.css({
position: pos,
top: top
});
}
});
};
return $(this).each(function() {
position($(this));
});
};
var flag = true;
var initParams = {};
var dparams = {
"sPaginationType": "full_numbers",
"oLanguage": {
"sLengthMenu": "每页显示 _MENU_ 条记录",
"sZeroRecords": "抱歉， 没有找到",
"sInfo": '从 <strong> _START_ </strong>到<strong> _END_ </strong>/共<strong> _TOTAL_ </strong>条数据',
"sInfoEmpty": "",
"sInfoFiltered": "(从 _MAX_ 条数据中检索)",
"oPaginate": {
"sFirst": "首页",
"sPrevious": "前一页",
"sNext": "后一页",
"sLast": "尾页"
},
"sSearch": "搜索：",
"sProcessing": '<img src="' + baseURL + '/webcore/img/loading.gif" /><label>请稍等，数据正在加载中...</label>'
},
"bFilter": false,
"bAutoWidth": false,
"bProcessing": true,
"bServerSide": true,
"iDisplayLength": 10
}
$(document).ready(function() {
$('#navs>li').hover(function() {
$(this).addClass("hd_menu_hover");
},
function() {
$(this).removeClass("hd_menu_hover");
});
$("#navbar").smartFloat();
$('#level-menu>li>a,#level-bill>li>a').hover(function() {
$(this).parent().addClass('level-hover');
},
function() {
$(this).parent().removeClass('level-hover');
});
$('#mybill').hover(function() {
$(this).find('a').addClass('hovers');
$(this).find('ul').eq(0).css('display', 'block');
},
function() {
$(this).find('a').removeClass('hovers');
$(this).find('ul').eq(0).css('display', 'none');
});
$('ul.main-menu>li>a').each(function() {
if ($($(this))[0].href == String(window.location)) {
$(this).parent().addClass('active');
}

$(document).ready(function() {
//初始化登录模板
initLoginFrame();
initParams['usertab'].click(function(){
$(this).addClass('active').siblings().removeClass('active');
initParams['user'].css('display', 'block');
initParams['ent'].css('display', 'none');
});
initParams['enttab'].click(function() {
$(this).addClass('active').siblings().removeClass('active');
initParams['ent'].css('display', 'block');
initParams['user'].css('display', 'none');
});
$('#flashImageU').click(function() {
initParams['imageU'].attr('src', baseURL + '/image.do?d=' + Math.random());
return false;
});
initParams['imageU'].click(function() {
this.src = baseURL + '/image.do?d=' + Math.random();
return false;
});
$('#flashImageE').click(function() {
initParams['imageE'].attr('src', baseURL + '/image.do?d=' + Math.random());
return false;
});
initParams['imageE'].click(function() {
this.src = baseURL + '/image.do?d=' + Math.random();
return false;
});
});
;(function() {
var curr = 0;
var $len = $('.item').length;
var pg = function(flag) {
if (flag) {
todo = (curr - 1) % $len;
curr--;
} else {
todo = (curr + 1) % $len;
curr++;
}
$('.carousel-inner>div').eq(todo).addClass('active').siblings().removeClass('active');
}
//前翻
$('#img_prev').click(function() {
pg(true);
return false;
});
//后翻
$('#img_next').click(function() {
pg(false);
return false;
});
//自动翻
var timer = setInterval(function() {
pg(true);
return false;
},
5000);
//鼠标悬停在触发器上时停止自动翻
$('.carousel-inner>div').hover(function() {
clearInterval(timer);
},
function() {
timer = setInterval(function() {
pg(true);
return false;
},
5000);
});
})();
/**
* 初始化登录模板
* @return
*/
function initLoginFrame() {
initParams.ent = $('#ent');
initParams.user = $('#user');
initParams.enttab = $('#enttab');
initParams.usertab = $('#usertab');
initParams.imageE = $('#imageE');
initParams.imageU = $('#imageU');
initParams['imageE'].attr('src', baseURL + '/image.do');
initParams['imageU'].attr('src', baseURL + '/image.do');
if (info.user != 0) {
initParams['usertab'].addClass('active').siblings().removeClass('active');
initParams['ent'].css('display', 'none');
initParams['user'].css('display', 'block');
}
if (info.ent != 0) {
initParams['enttab'].addClass('active').siblings().removeClass('active');
initParams['ent'].css('display', 'none');
initParams['ent'].css('display', 'block');
}
}

</script>