<div class="w0 h435 over relative banner">
	<?php for($i=0;$i<5;$i++){
		if(is_file($site_root_path.$banner['PicPath_'.$i]))
		?>
         <div class="bitem" style="background:url('images/bdhezi.jpg') center center no-repeat;">
	 	<a href="<?=$banner['Url_'.$i]?>" target="_blank" style="display:block;width:100%;height:100%;"></a>
        </div>
       
        <?php }?>
     <div class="banner_bg">
      	<div class="dian">
          <?php for($i=0;$i<5;$i++){
          if(is_file($site_root_path.$banner['PicPath_'.$i])){
          ?>
          <div class="item item_bg" onmouseover="changeban(<?=$i?>)">
          	<a href="<?=$banner['Url_'.$i]?>" target="_blank" style="color:#fff;"><?=$banner['Name_'.$i]?></a>
          </div>
          <?php }}?>
          <div style="clear:both;"></div>
      	</div> 
         
     </div>
     <div style="clear:both;"></div>
</div>
<script>
	var $banner= jQuery(".banner").find(".bitem");
	var $bl=$banner.length;
	var $click= jQuery(".dian").find(".item");
	var $cl=$click.length;
	var $i=0;
	var $in = 600;
	var $out = 300;
	var $seelp = 3000;
	function changeban(eq){
		$click.eq(eq).addClass('cur1').siblings(".dian .item").removeClass("cur1");
		$banner.eq(eq).fadeIn($in).siblings(".bitem").fadeOut($out);
	}
	changeban(0); 
	var $time = 0;
	function runbanner(){
		if($time<$cl){
			$click.eq($time).addClass('cur1').siblings(".dian .item").removeClass("cur1");
			$banner.eq($time).fadeIn($in).siblings(".bitem").fadeOut($out);
			++$time;
		}else{
			$time=0;
		}
	}
	setInterval('runbanner()',$seelp);
	$click.eq(4).removeClass("item_bg");
</script> 