<!--<?php
//$category1=$db->get_all('product_category',"Dept=1",$feild='*',"MyOrder desc , CateId asc");
$category1=$db->get_all('links','Language=0','*',"MyOrder desc , LId asc");
?>-->
<div class="w0 h269 footer_bg">
	<div class="w1000 margin0 h200 pT24">
    	<?php //公司信息 ?>
        <div class="w187 h200 fl mL25">
        	<a href="/" title="公司简介"><img src="images/gongsijianjie.jpg"/></a>
            	<div class="h47 lh_47 fw_12 tc w187">
                	<a href="/article.php?AId=1" title="祺智介绍"  style="color:#C6C6C6;">
                    	祺智介绍
                    </a>
                    &nbsp;&nbsp;
                    <a href="/article.php?AId=8" title="运营介绍" style="color:#C6C6C6;">
                    	运营介绍
                    </a>
                </div>
              <img src="images/erweima.jpg" style="margin-left: 53px;"/>
              	<div class="h36 lh_36 fw_12 tc" style="color:#C6C6C6;">
                关注祺智微信，获取最新产品动态
                </div>
        </div>
        <?php //祺智chanp  ?>
        <div class="w465 h200 fl pL47 mL23" style="background:url(images/qizhichanpbg.jpg) left center no-repeat;">
        	<img src="images/qizhititle.jpg" style="margin-bottom:10px;"/>
        	
           <div class="tl mL13 w135 fl" style="color:#C6C6C6;">
            	<a href="/" title="北斗模块" class="ft_a" style="color:#18678E;">北斗模块</a>
                <a href="/" title="单模RDSS" class="ft_a">单模RDSS</a>
                <a href="/" title="双模RDSS+RNSS" class="ft_a">双模RDSS+RNSS</a>
                <a href="/" title="五瓦" class="ft_a">五瓦</a>
                <a href="/" title="十瓦" class="ft_a">十瓦</a>
            </div>
            <div class="w173 fl">
            	<a href="/" title="双模RDSS+RNSS" class="ft_a">双模RDSS+RNSS块</a>
                <a href="/" title="双模RDSS+RNSS+GSM" class="ft_a">双模RDSS+RNSS+GSM</a>
                <a href="/" title="北斗手持机" class="ft_a blue">北斗手持机</a>
                <a href="/" title="北斗救生示位标" class="ft_a blue">北斗救生示位标</a>
                <a href="/" title="北斗应急指挥箱" class="ft_a blue">北斗应急指挥箱</a>
            </div>
            <div class="fl">
            	<a href="/" title="北斗运营平台" class="ft_a blue">北斗运营平台</a>
                <a href="/" title="北斗卡" class="ft_a">北斗卡</a>
                <a href="/" title="运营平台客户端" class="ft_a">运营平台客户端</a>
                <a href="/" title="北斗RDSS通道" class="ft_a">北斗RDSS通道</a>
            </div>
			<!--<?php foreach((array) $category1 as $item){?>
				<a href="<?=$item['Url']?>" title="<?=$item['Name'];?>" target="_blank" class="ft_a1" style="color:#fff;">
					<?=$item['Name'];?>
				</a>
<?php /*?>					<?php 
					$Tca=$item['CateId'];
					$category2=$db->get_all("product_category","UId='0,$Tca,'",$feild='*',"MyOrder desc , CateId asc");
					foreach((array) $category2 as $val){
					?>
						<a href="/product_list.php?CateId=<?=$val['CateId'];?>" title="<?=$val['Category'];?>" class="ft_a1" >
							<?=$val['Category'];?>
						</a>
					
					<?php }?><?php */?>
					
			<?php }?>-->
            <div style="clear:both;"></div>
        </div>
        <?php //service ?>
            <div class="fl w216 h200 pL36" style="background:url(images/qizhichanpbg.jpg) left center no-repeat;">
            	<img src="images/service.jpg" style="margin-bottom:10px;"/>
                <div class="w90 fl mL22">
                	<a href="/article.php?AId=5" title="设备租用" class="ft_a">设备租用</a>
              		<a href="/info_list.php" title="产品FAQ" class="ft_a">产品FAQ</a>
                    
                </div>
                <div class="w81 fl">
                	<a href="/feetback.php" title="在线留言" class="ft_a">在线留言</a>
                    <a href="/download.php" title="下载中心" class="ft_a">下载中心</a>
                </div>
                <div style="clear:both;"></div>
            </div>
            
        <div style="clear:both;"></div>
    </div>
    <div class="w1000 margin0 h45 copy relative">
       <span>Copyright©2009-2014</span>
        <span class="fw_12 absolute" style="right:0px;top:0px;">粤ICP备13024410号-1</span>
        <div style="clear:both;"></div>
    </div>
</div>
<script type="text/javascript">
	window.onload = function(){
		var $daku=jQuery("#daku");
		var $daku2=jQuery("#daku2");
		var $left_ca=jQuery("#left_ca");
			$daku.height($daku2.height());
		var $hh=parseInt($daku.height()+142);
			 $left_ca.height($hh);
		
		};
	function AddFavorite(sURL, sTitle)
{
    try
    {
        window.external.addFavorite(sURL, sTitle);
    }
    catch (e)
    {
        try
        {
            window.sidebar.addPanel(sTitle, sURL, "");
        }
        catch (e)
        {
            alert("加入收藏失败，请使用Ctrl+D进行添加");
        }
    }
}

	jQuery(function(){
		/*var _right_div = jQuery('#right_div');	
		var _left_ca = jQuery('#left_ca');	
		var _right_height = _right_div.outerHeight(true);
		//alert(_right_height);
		_left_ca.height(_right_height);*/
		
		
	});
</script>
<?php echo js_code();?>