<div class="w0 h106 header_bg">
	<div class="w1000 margin0 h106" style="position:relative;">
        	<div class="w339 h106 fl">
            	<a href="index.html" title="logo">
                	<img src="images/logo.jpg" alt="logo" />
                </a>
            </div>
       		<div class="pT16 h20 fr relative" style="margin-left: 392px;">
            	<ul class="hd_ab w233 fl">
                	<li><a href="/article.php?AId=<?=$art[AId];?>"title="关于祺智">关于祺智</a></li>
                    <li><a href="/article.php?AId=3" title="人才招聘">人才招聘</a></li>
                    <li style="margin-right:0px;padding-right:0px;"><a href="/article.php?AId=4" title="联系我们">联系我们</a></li>
                </ul>
                	 <a  href="/" title="" class="fl mR15 dj_search">
                          <img src="images/tubiao.jpg"  /> 
                      </a>
                      <div class="search_input">
                      	<form action="/search.php" method="get">
						<input  class="w183 h24 fl" style="border:1px solid #B5C5C7;border-right:0px;background:#FAFBFB;color:#434343;line-height:24px;"  type="text" name="Keyword" value="Search..."    class="input"  onfocus="this.value=='Search...'?this.value='':''" onBlur="this.value==''?this.value='Search...':''"/>
						<input  class="fl" type="image" src="images/searchsub.jpg"/>	
						</form>
                      </div>
            </div>
       		<#include "../ftl/nav.ftl">
       <div style="clear:both;"></div>  
    </div>
</div>
<script type="text/javascript">
	var $dj_search=$('.dj_search');
	var $search_input=$('.search_input');
		$dj_search.toggle(
			function(){
				$search_input.show();
				},
			function(){
				$search_input.hide();
				}
		);
</script>