<div class="fl h278 w242 on_search">
    <div class="w213 h240 margin0 mT20">
    <form action="/search.php" method="get">
        <div class="h20 fw_16 white tl">
        北斗产品自助选型：
        </div>
        <?php //产品类型 ?>
        <div class="h30 tl mT14 relative as_comm_even">
            <div class="fl h30 white lh_30 tl fw_16">产品类型：</div>
                <div class="w118 h30 type_bg fl fw_16 cp pL14">
                    <div class="relative w118 lh_30 tl" style="z-index:10;">
                            <!-- <div class="absolute ser_sub" style="z-index:-3;" onclick="ajaxChangeSearch(0);"><img src="../images/indexsearchsub.jpg"/></div>-->
                        <div class="type h30 lh_30 tl fw_12 relative protype event">
                            不限 
                        </div>
                            <div class="type_xs">
                                    <div class="type_ca2" protype2="0" onclick="ajaxChangeSearch(0);">不限</div>
                                <?php foreach((array) $category as $item){?>
                                    <div class="type_ca2" protype2="<?=$item['CateId'];?>" onclick="ajaxChangeSearch(<?=$item['CateId'];?>);">
                                        <?=$item['Category'];?>
                                    </div>
                                <?php }?>
                            </div>
                    </div>
                    
                </div>
           <div class="clear"></div>
        </div>
        <input type="hidden" name="CateId" value="0" id="procate"/>
		<div id="as_search" class="as_comm_even" style="height:118px;"></div>
            <div class="h30 fw_16 white lh_30 tl mT14">
                <input type="image"src="images/onsitesearchsub.jpg" />
            </div>
       </form>
    </div>
</div>
<script>
	function ajaxChangeSearch(CateId){
		jQuery('#as_search').load('/inc/ajaxSearchType.php', {'CateId':CateId,'n':Math.random()});
	}
</script>