<!--<?php
//北斗解决方案
$solve=$db->get_all("ad","AId IN(6,7,8)");

$product__left=$db->get_all("product2","IsInIndex=1",'*','MyOrder desc,ProId desc');
?>-->
<!--<div class="w1000 h382 margin0">
    	<div class="w1000 h25 ins_title">
        	<div class="w185 h25 fw_16 tc margin0" style="background:#FFF;">
            	北斗解决方案
            </div>
            <?php 
			$j=1;
			for($i=0;$i<3;$i++){?>
            	<div class="mT27 w311 h294 fl mR33" style=" <?php if($j==3){echo 'margin-right:0';}?>">
                	<img src="<?=$solve[0]['PicPath_0'];?>" />
                    <a href="<?=$solve[0]['Url_0'];?>" title="<?=$solve[0]['Name_0'];?>" class="ins_a fw_14 tc">
                    	<?=$solve[0]['Name_0'];?>
                    </a>
                </div>
			<?php $j++;}?>
        </div>
    
</div>-->


<div class="w1000 h382 margin0">
    	<div class="w1000 h25 ins_title">
        	<div class="w185 h25 fw_16 tc margin0" style="background:#FFF;">
            	北斗解决方案
            </div>
            		<div id="show_pro" >	
						<div class="list" id="index_pro_list_scroll" style="position:relative">
							<div class="l"><a href="javascript:void(0);" onclick="this.blur(); ISL_GoDown();"><img src="images/left.gif" /></a></div>
											<div class="Cont" id="ISL_Cont">
												<div class="ScrCont" onMouseOver="ISL_Stop();" onMouseOut="ISL_Start();">
													<div id="scroll_list_1">
															<?php foreach((array) $product__left as $item){?>
															<div class="w311 h294 fl mR33">
																<div class="w311 h231 PicPath">
																	<!--<img src="<?=str_replace('s_', "311X231_",$item['PicPath']);?>" />-->
																	<img src="img/311X231_1.jpg">
																</div>
																<a href="/product2_detail.php?ProId=<?=$item[ProId];?>&CateId=<?=$item['CateId'];?>" title="<?=$item['Name'];?>" class="ins_a fw_14 tc">
																	<?=$item['Name'];?>
																</a>
															</div>
														<?php }?>
													</div>
													<div id="scroll_list_2"></div>
												</div>
											</div>
							
							<div class="r"><a href="javascript:void(0);" onclick="this.blur(); ISL_GoUp();"><img src="images/right.gif" /></a></div>
						</div>
					</div>
        </div>
    
</div>