<div class="fr mT16 h54" style="position:relative;">
    <ul class="nav h54 relative" >
        <li class="move">
        <a href="info1_list.html" class="ca" title="北斗运营">北斗运营</a>
        	<div class="ca2">
                    <a href="info1_list.html" title="北斗服务平台登录" class="ca2_a">
                        北斗服务平台登录
                    </a>
                    <a href="info1_list.html" title="北斗云服务平台" class="ca2_a">
                        北斗云服务平台
                    </a>
                    <a href="info1_list.html" title="北斗民用服务平台简介" class="ca2_a">
                        北斗民用服务平台简介
                    </a>
                    <a href="info1_list.html" title="北斗服务平台功能" class="ca2_a">
                        北斗服务平台功能
                    </a>
                    <a href="info1_list.html" title="北斗服务平台特色" class="ca2_a">
                        北斗服务平台特色
                    </a>
                    <a href="info1_list.html" title="北斗服务介入流程" class="ca2_a">
                        北斗服务介入流程
                    </a>
            </div>
        </li>
        <li class="move">
        	<a href="product_list.html" class="ca" title="北斗产品">北斗产品</a>
            <div class="ca2" style="padding: 0px;">
            	<!-- <div><img src="images/navaimg.png"/></div> -->
                <a href="info1_list.html" title="北斗终端" class="ca2_a">
                        北斗终端
                </a>
                <a href="info1_list.html" title="北斗模块" class="ca2_a">
                        北斗模块
                </a>
                <a href="info1_list.html" title="北斗平台" class="ca2_a">
                        北斗平台
                </a>
                <a href="info1_list.html" title="北斗定制产品" class="ca2_a">
                        北斗定制产品
                </a>
           	    <!-- <div><img src="images/navbottom.png"/></div> -->
            </div>
        </li>
        <li class="move">
        	<a href="product2_list.html" class="ca" title="北斗方案">北斗方案</a>
        </li>
        <li class="move">
        	<a href="product3_list.html" class="ca" title="客户案例">客户案例</a>
        </li>
        <li class="move" style="background:url(images/nava.jpg) no-repeat;"><a href="/article.php?AId=6" class="ca" title="运营代理">运营代理</a></li>
    </ul>
</div>
<script type="text/javascript">
	var $move=jQuery(".move");
	var $ca2=$move.children(1);
		$move.hover(
			function(){
				jQuery(this).children(".ca2").show();
				},
			function(){
				jQuery(this).children('.ca2').hide();
				}
			
		);
		
</script>