<div class="fl w368 h278 absolute xg_bg over" style="right:0px;top:0px;">
  <div class="mT20 mL32">
    <div style="height:33px;"><img src="images/Related.jpg" class="mB4"/></div>
    <div class="mL16 mT4">
		<?php 
        $j=1;
         for($i=0;$i<4;$i++){?>
            <div class="h111 w111 fl" style=" <?php if($j==1){echo 'margin-right:65px';}?>">
              <img src="img/rdssmozu.jpg" width=111 height=82 class="cp"/>
                <a class="db h29 lh_29 fw_14 tc gray" href="/product_detail.php?ProId=<?=$recommend[$i]['ProId']?>" title="<?=$recommend[$i]['Name']?>">
                    <?= cutstr_html($recommend[$i]['Name'],5);?>
                </a>
            </div>
            <div class="h111 w111 fl" style=" <?php if($j==1){echo 'margin-right:65px';}?>">
              <img src="img/rdssdanmo.jpg" width=111 height=82 class="cp"/>
                <a class="db h29 lh_29 fw_14 tc gray" href="/product_detail.php?ProId=<?=$recommend[$i]['ProId']?>" title="<?=$recommend[$i]['Name']?>">
                    <?= cutstr_html($recommend[$i]['Name'],5);?>
                </a>
            </div>
            <div class="h111 w111 fl" style=" <?php if($j==1){echo 'margin-right:65px';}?>">
              <img src="img/bdhaiyang.jpg" width=111 height=82 class="cp"/>
                <a class="db h29 lh_29 fw_14 tc gray" href="/product_detail.php?ProId=<?=$recommend[$i]['ProId']?>" title="<?=$recommend[$i]['Name']?>">
                    <?= cutstr_html($recommend[$i]['Name'],5);?>
                </a>
            </div>
            <div class="h111 w111 fl" style=" <?php if($j==1){echo 'margin-right:65px';}?>">
              <img src="img/bdserver.gif" width=111 height=82 class="cp"/>
                <a class="db h29 lh_29 fw_14 tc gray" href="/product_detail.php?ProId=<?=$recommend[$i]['ProId']?>" title="<?=$recommend[$i]['Name']?>">
                    <?= cutstr_html($recommend[$i]['Name'],5);?>
                </a>
            </div>
        <?php 
        $j++;
        if($j==3){$j=1;}
        }?>
        <div style="clear:both;"></div>
      </div>
  </div>
</div>