<div class="fl w390 h278 tj_bg over">
  <div class="w333 h255 mT20 margin0">
      <img src="images/tuijiantitle.jpg"  class="mB4"/>
      <div class="w288 h214 margin0">
          <a href="<?=$recommended['Url_0'];?>" title="<?=$recommended['Name_0'];?>">
             <img src="images/tuijian.jpg" class="mB4" />
          </a>
      </div>
  </div>
</div>